.music-card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
@media only screen and (max-width: 970px) {
  .music-card-container {
    height: 70vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
h3{
  background-color: #333333;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
.leftcolumn {   
  float: left;
  width: 77%;
  height: 100%;
  margin-left: 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  margin-left: 15px;
  height: 100%;
}
.new-song-card { 
  height: 50%; 
}

.week-card {
  height: 50%; 
}
.hotin {
  height: 100%;
  .hotin-head {
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    

    span {
      display: flex;
      align-items: center;
    }
  }

  .hotin-profile {
    padding: 5px;
  }

}